<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>my-project</title>
</head>

<body>
  <h2>宣言的レンダリング1</h2>
  <div id="app">
    {{ message }}
  </div>

  <h2>宣言的レンダリング2</h2>
  <div id="app-2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds to see my dynamically bound title!
    </span>
  </div>

  <h2>条件分岐</h2>
  <div id="app-3">
    <span v-if="seen">Now you see me</span>
  </div>

  <h2>ループ</h2>
  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>

  <h2>ユーザ入力の制御</h2>
  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>

  <h2>ユーザ入力の制御2</h2>
  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>

  <h2>コンポーネントによる構成</h2>
  <div id="app-7">
    <ol>
      <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
    </ol>
  </div>

  <h2>Computed</h2>
  <div id="app-8">
    <input v-model="value">
    <p>Reversed Message : "{{ reversedMessage }}"</p>
  </div>
  <script src="/dist/build.js"></script>
</body>

</html>